.sv-table-container a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}

.rdt_TableRow {
    padding: 2% 0 2% 0;
}

::-webkit-scrollbar-track{
	border-radius: 10px;
    background-color: rgba(0,0,0,0.01);
}
::-webkit-scrollbar{
	width: 6px;
	height: 6px;
    background-color: rgba(0,0,0,0.01);
}
::-webkit-scrollbar-thumb{
	border-radius: 10px;
    background-color: #666;
}